body .footer form .form .send, body .test .menu .btn {
  font-family: "Marcellus", serif;
  font-weight: 400;
  text-decoration: none;
  background-color: #425a93;
  padding: 10px;
  width: 140px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 10px rgba(168, 210, 213, 0.5);
}
body .footer form .form .send a, body .test .menu .btn a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Marcellus", serif;
  font-weight: 400;
  color: #8298cc;
  text-decoration: none;
}
body .footer form .form .send:hover, body .test .menu .btn:hover {
  background-color: #792b3d;
  color: #edbfd4;
}

body .footer .text, body .footer, body .about .serts p, body .about .title h3, body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components button a, body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components h3, body .test .menu .greets, body .test .menu h1, body .test .mobile-menu li, body .test .mobile-menu a, body .test header nav ul a, body .test header nav ul li, body .test header nav {
  font-family: "Marcellus", serif;
  font-weight: 400;
  color: #5F6F94;
  text-decoration: none;
}

body {
  background: #010309;
  margin: 0;
  padding: 0;
}
body video {
  margin: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  position: fixed;
}
@media (max-width: 840px) {
  body video {
    height: 100vh;
    width: auto;
  }
}
body .test {
  position: relative;
}
body .test header {
  display: flex;
  justify-content: center;
  padding: 20px;
}
body .test header nav {
  display: block;
}
body .test header nav :hover {
  color: #2c3240;
}
body .test header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}
body .test header nav ul a, body .test header nav ul li {
  list-style: none;
  font-size: 18px;
  margin: 10px;
}
body .test header .hamburger-icon {
  margin: auto;
  display: none;
  cursor: pointer;
}
body .test header .hamburger-icon div {
  margin: 6px 0;
  width: 35px;
  height: 3px;
  background-color: #5F6F94;
  transition: 0.4s;
}
body .test .mobile-menu {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  display: none;
  position: absolute;
  height: calc(100vh - 50px);
}
body .test .mobile-menu li, body .test .mobile-menu a {
  list-style: none;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 15px;
}
body .test .open .mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 10px;
  width: 85%;
}
body .test .open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
body .test .open .bar2 {
  opacity: 0;
}
body .test .open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}
@media (max-width: 840px) {
  body .test header {
    display: block;
  }
  body .test header nav {
    display: none;
  }
  body .test header .hamburger-icon {
    display: block;
    margin: 0;
  }
}
body .test .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;
}
body .test .menu h1 {
  text-align: center;
  font-size: 42px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 840px) {
  body .test .menu h1 {
    margin: 10px;
    font-size: 32px;
    padding-top: 50px;
  }
}
body .test .menu .greets {
  margin-top: 90px;
  text-align: center;
  font-size: 17px;
  color: rgba(141, 69, 100, 0.8235294118);
}
@media (max-width: 840px) {
  body .test .menu .greets {
    padding: 10px;
  }
}
body .test .menu .btn {
  margin-top: 70px;
}
body .pink-field {
  background-color: rgba(141, 69, 100, 0.8235294118);
  border-radius: 30px;
  margin: 200px;
}
@media (max-width: 840px) {
  body .pink-field {
    margin: 10px;
  }
}
body .pink-field .heading-pink-field {
  padding-top: 20px;
}
body .pink-field .gallery-grid {
  padding-bottom: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .pink-field .gallery-grid .grid-item {
  margin-top: 100px;
}
body .pink-field .gallery-grid .grid-item .grid-item-inner {
  position: relative;
  display: flex;
}
body .pink-field .gallery-grid .grid-item .grid-item-inner .scrin-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 450px;
  padding: 20px;
}
@media (max-width: 840px) {
  body .pink-field .gallery-grid .grid-item .grid-item-inner .scrin-image {
    width: 300px;
  }
}
body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title {
  position: absolute;
  left: 50px;
  bottom: 100px;
  overflow: hidden;
  width: 80%;
  text-align: center;
}
@media (max-width: 840px) {
  body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title {
    bottom: 31px;
    left: 45px;
  }
}
body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components {
  display: block;
  transform: translateY(230px);
  transition: 0.4s ease;
}
body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components h3 {
  text-align: center;
  font-size: 25px;
  color: #f1dbe5;
  text-transform: uppercase;
}
@media (max-width: 840px) {
  body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components h3 {
    margin-bottom: 14px;
    font-size: 18px;
  }
}
body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components button {
  border: 0;
  background-color: #25316D;
  padding: 7px;
  width: 170px;
  border-radius: 15px;
  cursor: pointer;
}
body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components button:hover {
  background-color: #1a1e36;
  scale: 1.05;
}
@media (max-width: 840px) {
  body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components button {
    width: 140px;
    padding: 5px;
    margin: 0;
  }
}
body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components button a {
  text-decoration: none;
  font-size: 15px;
  color: #9aaace;
}
@media (max-width: 840px) {
  body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components button a {
    font-size: 11px;
  }
}
body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components p {
  color: #f1dbe5;
}
@media (max-width: 840px) {
  body .pink-field .gallery-grid .grid-item .grid-item-inner .grid-item-inner-title .grid-item-title-components p {
    font-size: 11px;
  }
}
body .pink-field .gallery-grid .grid-item .grid-item-inner:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  content: "";
  background: rgba(118, 55, 84, 0.8235294118);
  opacity: 0;
}
body .pink-field .gallery-grid .grid-item .grid-item-inner:hover:before {
  opacity: 1;
}
body .pink-field .gallery-grid .grid-item .grid-item-inner:hover .grid-item-title-components {
  transform: translateY(0);
}
body .about {
  padding-bottom: 50px;
}
body .about .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .about .title h3 {
  font-size: 31px;
  text-transform: uppercase;
}
body .about .title ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body .about .title ul li {
  margin: 30px;
}
body .about .serts {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
body .about .serts p {
  margin: 10;
  text-transform: uppercase;
  font-size: 28px;
}
body .about .serts .serts-names {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
body .about .serts .serts-names .sert {
  width: 150px;
}
body .about .serts .serts-names .sert:hover {
  scale: 2;
  transition: 1.2s;
}
@media (max-width: 840px) {
  body .about .serts .serts-names .sert:hover {
    scale: 1.4;
  }
}
@media (max-width: 840px) {
  body .about .serts .serts-names .sert {
    width: 250px;
  }
}
body .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: centers;
  text-align: center;
}
body .footer .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  padding: 40px;
}
body .footer .text a {
  text-decoration: none;
  color: #96a1b8;
}
body .footer .text a:hover {
  color: #545b69;
}
body .footer form {
  margin-bottom: 60px;
}
body .footer form .form {
  padding: 20px;
}
body .footer form .form .yourEmail {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background-color: rgba(57, 55, 55, 0.6980392157);
}
body .footer form .form .yourText {
  color: #d4d8e9;
  width: 300px;
  height: 100px;
  background-color: rgba(57, 55, 55, 0.6980392157);
  padding: 10px;
  border-radius: 10px;
}
body .icons {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 2px solid #5F6F94;
}
body .icons img {
  margin: 10px;
  width: 34px;
}
body .icons img:hover {
  scale: 1.1;
}/*# sourceMappingURL=main.css.map */