$colors: (
    darkcolor: #e4f0f7,
    lightbgcolor: #E0C3C3,
    light-font-color: #1d1c1c
);
  $font:  'Marcellus', serif;



%about-font-blue{
font-family: 'Marcellus', serif;
font-weight: 400;
color: #25316D;
text-decoration: none;
}

%btn-default{
    font-family: 'Marcellus', serif;
    font-weight: 400;
    text-decoration: none;
    background-color: #425a93;
    padding: 10px;
    width: 140px;
    border-radius: 10px;
    border: 0;   
    box-shadow: 0 0 10px rgba(168, 210, 213, 0.5);
    a{
        text-decoration: none; 
        font-size: 15px;
        font-family: 'Marcellus', serif;
        font-weight: 400;
        color: #8298cc;
        text-decoration: none;
    }
    &:hover{
        background-color:#792b3d;
        color: #edbfd4;
        }
    }

%about-font-blue-bold{
    font-family: 'Marcellus', serif;
    font-weight: 600;
    color: #25316D;
    text-decoration: none;
    }

  %about-font-grey{
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #5F6F94;
    text-decoration: none;
      }



  $devices: 840px;

  @mixin devices {
    @media (max-width: #{$devices}) {
        @content;
    }
}

body {
    background:#010309;
    margin: 0;
    padding: 0;

    video{
    margin: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    position: fixed;
    @include devices{
        height: 100vh;
        width: auto;
    }
    }

    .test{
    position: relative;
    header {
    display: flex;
    justify-content: center;
    padding: 20px;
    nav {
        @extend %about-font-grey;
        display: block;
        & :hover{
        color:#2c3240
        }
        
    ul{
        display: flex;
        padding: 0;
        margin: 0;


        a, li {
            @extend %about-font-grey;
            list-style: none;
            font-size: 18px;
            margin: 10px;
        }
    }
}
    .hamburger-icon {
        margin: auto;
        display: none;
        cursor: pointer;

        div{
            margin: 6px 0;
            width: 35px;
            height: 3px;
            background-color: #5F6F94;
            transition: 0.4s;
            }
      }
    }

    .mobile-menu {
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        display: none;
        position: absolute;
        height: calc(100vh - 50px);

        li, a {
            @extend %about-font-grey;
            list-style: none;
            text-decoration: none;
            font-size: 22px;
            margin-bottom: 15px;
        }
        }

 .open {
                .mobile-menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    text-align: center;
                    margin-bottom: 10px;
                    width: 85%;
                }    
                }
            

.open {
    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px );
        transform: rotate(-45deg) translate(-6px, 6px );
    }
                
    .bar2 {
    opacity: 0;
    }
    .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -8px );
        transform: rotate(45deg) translate(-6px, -8px );
    }
}

@include devices{
    header {
        display: block;
        nav {
            display: none;
        }
        .hamburger-icon {
            display: block;
            margin: 0;
        }
   } 
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    flex-direction: column;

    h1 {
        text-align: center;
        @extend %about-font-grey;
        font-size: 42px;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include devices{
            margin: 10px;
            font-size: 32px;
            padding-top: 100px;
        }
        }

        .greets{
        margin-top: 90px;
        @extend %about-font-grey;
        text-align: center;
        font-size: 17px;
        color: #8d4564d2;
        @include devices{
            width: 300px;
        }
    }


    .btn{
        margin-top: 70px;
        @extend %btn-default;
    }

}
}

.pink-field{
    background-color: #8d4564d2;
    border-radius: 30px;
    margin: 200px;
    @include devices{
        margin: 10px;
    }
    .heading-pink-field {
        padding-top: 20px;
    }
.gallery-grid{
    padding-bottom: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .grid-item{
        margin-top: 100px;
    .grid-item-inner{
        position: relative;
        display: flex;
        .scrin-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            width: 450px;
            padding: 20px;
            @include devices{
                width: 300px;
            }
        }
        .grid-item-inner-title{
            position: absolute;
            left: 50px;
            bottom: 100px;
            overflow: hidden;
            width: 80%;
            text-align: center;
            @include devices{
                bottom:31px;
                left:45px
            }
            .grid-item-title-components {
                display: block;
                transform: translateY(230px);
                transition: .4s ease ;
                h3{
                    @extend %about-font-grey;
                    text-align: center;
                    font-size: 25px;
                    color: #f1dbe5;
                    text-transform: uppercase;
                    @include devices{
                        margin-bottom: 14px;
                        font-size: 18px;
                    }
                } 
                button{
                    border: 0;
                    background-color: #25316D;
                    padding: 7px;
                    width: 170px;
                    border-radius: 15px;
                    cursor: pointer;
                    &:hover{
                        background-color: #1a1e36;
                        scale: 1.05;
                    }
                    @include devices{
                        width: 140px;
                        padding: 5px;
                        margin: 0;
                    }
                        a{
                            text-decoration: none;
                            font-size: 15px;
                            color: #9aaace;
                            @extend %about-font-grey;
                            @include devices{
                                font-size: 11px;
                            }
                        }
                }
                p{
                    color: #f1dbe5;
                    @include devices{
                        font-size: 11px;
                    }

                }
            }
        }
    }
    .grid-item-inner:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all .4s ease;
        content: "";
        background:  #763754d2;
        opacity:0;
    }
    .grid-item-inner:hover:before{
        opacity: 1;
        }

        .grid-item-inner:hover {
            .grid-item-title-components{
            transform: translateY(0);
        }
        }
    }
}
}

// about section 
.about{ 
   padding-bottom: 50px;
   .title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 31px;
            text-transform: uppercase;
            @extend %about-font-grey;
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            li{
                margin: 30px;
            }
        }
    }
        .serts{
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 50px;
            flex-wrap: wrap;
        p{
            @extend %about-font-grey;
            margin: 10;
            text-transform: uppercase;
            font-size: 28px;
        }
        .serts-names{
            width: 60%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 10px;
            .sert{
                width: 150px;
                &:hover{
                    scale: 2;
                    transition: 1.2s;
                    @include devices{
                        scale: 1.4;
                    }
                }
                @include devices{
                width: 250px;
                }
                }

            }
        }
    }





.footer{
    @extend %about-font-grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
    text-align: center;

    .text{
        @extend %about-font-grey;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        text-align: center;

        padding: 40px;
        a{
            text-decoration: none;
            color: #96a1b8;
            &:hover{
                color: #545b69;
            }
        }
    }
            form{
                margin-bottom: 60px;
            .form{
                padding: 20px;
            .yourEmail {
                padding: 10px;
                border-radius: 10px;
                border: 0;
                background-color: #393737b2; 
        }
        .yourText{
            color: #d4d8e9;
            width: 300px;
            height: 100px;
            background-color: #393737b2; 
            padding: 10px;
            border-radius: 10px;
        }
        .send{
            @extend %btn-default;
        }
    }
}
}
.icons{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #5F6F94;;
    img{
        margin: 10px;
        width: 34px;
        &:hover{
            scale: 1.1;
        }
    }
}
}


